<a href="https://colab.research.google.com/github/lewinskie254/eda/blob/main/Categorical_to_Numeric.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import statistics as stat
import scipy.stats as stats

In [11]:
#one way anova is categorical to numeric relationships
df = pd.read_csv("http://ishelp.info/data/insurance.csv")

### Independent Two-Sample *t*-Test (Equal Variances Assumed)

$$
t = \frac{\bar{x}_1 - \bar{x}_2}{s_p \sqrt{\frac{1}{n_1} + \frac{1}{n_2}}}
$$

$$
s_p = \sqrt{\frac{(n_1 - 1)s_1^2 + (n_2 - 1)s_2^2}{n_1 + n_2 - 2}}
$$

In [12]:
stats.ttest_ind(df.charges, df.age)

TtestResult(statistic=np.float64(39.96528853055413), pvalue=np.float64(2.9370265924654854e-274), df=np.float64(2674.0))

In [17]:
#let's get the t_test manually for comprehension first

#fetch xbar 1 and x_bar 2
mean_charges = df.charges.mean()
mean_age = df.age.mean()

#standard deviation for both
std_charges = df.charges.std()
std_age = df.age.std()


#numerator for sp
numerator = ((len(df.charges) - 1) * std_charges**2) + ((len(df.age) - 1) * std_age**2)

#denominator for sp
denominator = len(df.charges) + len(df.age) - 2

#sp
sp = (numerator / denominator)**0.5

In [18]:
#t test manual calculation

t = (mean_charges - mean_age) / (sp * ((1/len(df.charges)) + (1/len(df.age)))**0.5)
t

np.float64(39.96528853055416)